.language-button {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-button .icon {
    font-size: x-large;
}

.language-selector {
    padding: 0.5rem;
    width: 8rem;
    border: 1px solid #333;
    border-radius: 4px;
    position: relative;
    color: #fff;
}

.drop-down {
    background-color: #111;
    color: #fff;
    width: 8rem;
    border-radius: 3px;
    position: absolute;
    margin: 8% 0% 0 -8%;
    border: #fff solid 1px;
}

.drop-down ul {
    display: contents;
}

.drop-down ul li {
    padding: 0rem 1rem;
}

@media screen and (max-width: 675px) {
    .language-selector {
        padding: 0.25rem 0.2rem;
        width: 6.5rem;
        font-size: smaller;
    }

    .language-button .icon {
        font-size: large;
    }

    .drop-down {
        width: 7rem;
        margin: 2% 0% 0 -5%;
    }

    .drop-down ul li {
        padding: 0rem 1rem;
    }
}

@media screen and (max-width: 300px) {

    .language-selector {
        padding: 0.1rem 0.2rem;
        width: 3.5rem;
        font-size: 0.5rem;
        height: -moz-fit-content;
        height: 1.1rem;
    }

    .language-button {
        height: 0.9rem;
    }

    .drop-down {
        width: 3.5rem;
        margin: 8% 0% 0 -9%;
    }

    .drop-down ul li {
        padding: 0rem 0.8rem;
        font-size: 0.6rem;
    }
}