#device-info {
    background-color: black;
    width: 100%;
    margin-top: 8px;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 6%;
}

#mobile,
#children {
    flex-direction: row-reverse;
}

.grid-img {
    width: 48%;
}

.device-img {
    width: 100%;
    z-index: 3;
    position: sticky;
}

.grid-content {
    color: #fff;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.grid-content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.grid-content h4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}

.iframe-box {
    width: 31%;
    position: absolute;
    margin-top: -25.4%;
    margin-left: 5.5%;
}

.tv-player {
    width: 100%
}

.desktop-player {
    width: 85%;
    margin-top: -13%;
    margin-left: 7%;
}

@media screen and (max-width: 920px) {
    .grid-container {
        flex-direction: column;
    }

    #mobile,
    #children {
        flex-direction: column;
    }

    .grid-content,
    h1 {
        width: 100%;
        text-align: center;
    }

    .grid-content h1 {
        font-size: 2.7rem;
    }

    .grid-content h4 {
        font-size: 1.3rem;
    }

    .grid-img {
        width: 75%;
    }

    .iframe-box {
        width: 49%;
        position: absolute;
        margin-top: -40.1%;
        margin-left: 8.5%;
    }

    .tv-player {
        width: 100%
    }

    .desktop-player {
        width: 83%;
        margin-top: -12%;
        margin-left: 7%;
    }
}

@media screen and (max-width: 675px) {
    .grid-content h1 {
        font-size: 2.3rem;
    }

    .grid-content h4 {
        font-size: 1.1rem;
    }

    .grid-img {
        width: 100%;
    }

    .iframe-box {
        width: 65%;
        position: absolute;
        margin-top: -53.1%;
        margin-left: 8.5%;
    }

    .tv-player {
        width: 100%;
        margin-left: 4%;
        margin-top: -1%;
    }

    .desktop-player {
        width: 84%;
        margin-top: -13%;
        margin-left: 12%;
    }
}