.row{
    margin: 0 0 0 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px 20px 20px 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 250px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin: 0 10px 0 0;
}

.poster:hover{
    transform: scale(1.04);
}

.smallPoster:hover {
    transform: scale(1.07);
}